<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>CSR - Editar Cliente</title>
</head>

<body class="flex justify-center bg-dark-default">
<nav class="fixed top-0 left-0 w-full h-16 bg-light-default text-font-default p-5 shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
        <a href="http://localhost:3000/clientes">
            <div class="text-lg font-bold">CSR - Customer Registration</div>
        </a>
        <ul class="flex space-x-4">
            <li>
                <a href="http://localhost:3000/clientes/registrar"
                   class="hover:text-gray-200">Registrar
                    Cliente
                </a>
            </li>
        </ul>
    </div>
</nav>
<form class="container flex flex-col w-2/3 justify-center items-center min-h-screen mt-24 gap-4"
      data-cliente-id="<%= cliente.id %>">
    <div class="flex flex-col p-10 bg-light-default w-10/12 rounded-[10px] shadow-md">
        <h2 class="text-2xl font-bold text-font-default text-left p-2">
            <% if (cliente.genero === "FEMININO") { %>
                <i class="fa-solid fa-person-dress mr-5"></i>
            <% } else { %>
                <i class="fa-solid fa-person mr-5"></i>
            <% } %>
            <%= cliente.usuario.nome %>
        </h2>

        <div class="py-3 text-lg text-white font-light">
            <span class="font-bold text-font-default">Nome:</span>
            <div class="flex flex-row justify-between py-3 rounded-lg mt-2">
                <p id="normal-field" data-content="nome"><%= cliente.usuario.nome %></p>
                <button><i class="fa fa-pen" id="editar-campo"></i></button>
            </div>
        </div>

        <div class="py-3 text-lg text-white font-light">
            <span id="fieldLabel" class="font-bold text-font-default">CPF:</span>
            <div class="flex flex-row justify-between py-3 rounded-lg mt-2">
                <p id="normal-field" data-content="cpf"><%= cliente.usuario.cpf %></p>
                <button><i class="fa fa-pen" id="editar-campo"></i></button>
            </div>
        </div>

        <div class="py-3 text-lg text-white font-light">
            <span id="fieldLabel" class="font-bold text-font-default">E-mail:</span>
            <div class="flex flex-row justify-between py-3 rounded-lg mt-2">
                <p id="normal-field" data-content="email"><%= cliente.usuario.email %></p>
                <button><i class="fa fa-pen" id="editar-campo"></i></button>
            </div>
        </div>

        <div class="py-3 text-lg text-white font-light">
            <label id="fieldLabel" for="genero" class="font-bold text-font-default">Genero:</label>
            <select class="p-2 rounded-md w-full mt-2 bg-lighter-default mr-10" id="dropdown-field"
                    data-content="genero">
                <option <%= cliente.genero === "MASCULINO" ? "selected" : "" %> value="MASCULINO">Masculino</option>
                <option <%= cliente.genero === "FEMININO" ? "selected" : "" %> value="FEMININO">Feminino</option>
                <option <%= cliente.genero === "OUTRO" ? "selected" : "" %> value="OUTRO">Outro</option>
            </select>
        </div>

        <div class="py-3 text-lg text-white font-light">
            <label id="fieldLabel" for="date-field" class="font-bold text-font-default">Data de nascimento:</label>
            <input type="date" id="date-field" class="p-2 w-full rounded-md bg-lighter-default text-white mt-2"
                   value="<%= cliente.dtNascimento ? new Date(cliente.dtNascimento).toISOString().split('T')[0] : '' %>"
                   data-content="dataNascimento">
        </div>

        <div class="py-3 text-lg text-white font-light">
            <span id="fieldLabel" class="font-bold text-font-default">Telefone:</span>
            <div class="flex flex-row justify-between py-3 rounded-lg mt-2">
                <p id="normal-field" data-content="telefone">(<%= cliente.telefone.ddd %>
                    ) <%= cliente.telefone.numero %></p>
                <button><i class="fa fa-pen" id="editar-campo"></i></button>
            </div>
        </div>

        <div class="py-3 text-lg text-white font-light">
            <label id="fieldLabel" for="tipoTelefone" class="font-bold text-font-default">Tipo telefone:</label>
            <select class="p-2 rounded-md w-full mt-2 bg-lighter-default mr-10" id="dropdown-field"
                    data-content="tipoTelefone">
                <option <%= String(cliente.telefone.tipo) === "MOVEL" ? "selected" : "" %> value="MOVEL">Móvel</option>
                <option <%= String(cliente.telefone.tipo) === "FIXO" ? "selected" : "" %> value="FIXO">Fixo</option>
            </select>
        </div>
    </div>

    <% cliente.cartoes.forEach((cartao, index) => { %>
        <div class="flex flex-col p-10 bg-light-default w-10/12 rounded-[10px] shadow-md" id="cartao-container">
            <div class="flex flex-row items-center">
                <h2 class="text-2xl font-bold text-font-default text-left p-2"><i class="fa-solid fa-id-card mr-5"></i>Cartão
                    nº
                    <%= index + 1 %>
                </h2>
                <% if (cartao.isPreferencial) { %>
                    <span class="ml-3 p-2 rounded-2xl bg-blue-200 text-sm text-blue-600 font-bold" id="is-preferencial">Preferencial</span>
                <% } %>
            </div>

            <div class="py-3 text-lg text-white font-light">
                <span id="fieldLabel" class="font-bold text-font-default">Numero:</span>
                <div class="flex flex-row justify-between py-3 rounded-lg mt-2">
                    <p id="normal-field" data-content="numeroCartao"><%= cartao.numero %></p>
                    <button><i class="fa fa-pen" id="editar-campo"></i></button>
                </div>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <span id="fieldLabel" class="font-bold text-font-default">Nome Impresso:</span>
                <div class="flex flex-row justify-between py-3 rounded-lg mt-2">
                    <p id="normal-field" data-content="nomeImpresso"><%= cartao.nomeImpresso %></p>
                    <button><i class="fa fa-pen" id="editar-campo"></i></button>
                </div>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <span id="fieldLabel" class="font-bold text-font-default">Cvv:</span>
                <div class="flex flex-row justify-between py-3 rounded-lg mt-2">
                    <p id="normal-field" data-content="cvv"><%= cartao.cvv %></p>
                    <button><i class="fa fa-pen" id="editar-campo"></i></button>
                </div>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label id="fieldLabel" for="bandeira" class="font-bold text-font-default">Bandeira:</label>
                <select class="p-2 rounded-md w-full mt-2 bg-lighter-default mr-10" id="dropdown-field"
                        data-content="bandeira">
                    <% BANDEIRAS.forEach(bandeira => { %>
                        <option <%= cartao.bandeira.descricao === bandeira.code ? "selected" : "" %>
                                value="<%= bandeira.code %>"><%= bandeira.name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
    <% }) %>

    <div class="flex flex-center p-5">
        <button
                class="bg-lighter-default
                    text-font-default
                    p-3
                    w-40
                    rounded-2xl
                    shadow-md
                    font-bold
                    text-lg
                    border-2
                    border-transparent
                    transition-colors
                    duration-300
                    hover:bg-font-default
                    hover:text-lighter-default
                    hover:border-font-default"
                type="submit"
        >Enviar<i class="fa-solid fa-arrow-right ml-3"></i>
        </button>
    </div>
</form>
<script src="/js/adicionarListenersBotoes.js" type="module"></script>
</body>