<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/index.css" />
    <title>CSR - Customers</title>
  </head>
  <body>
    <form class="board" method="post" action="/customers">
      <div class="data-group">
        <h2 class="title">Dados do Cliente</h2>

        <div class="input-group-line">
          <label for="gender">Selecione seu Gênero</label>
          <select class="input-group-element" name="gender" id="gender" required>
            <option value="MALE">Masculino</option>
            <option value="FEMALE">Feminino</option>
            <option value="OTHER">Outro</option>
          </select>
        </div>

        <div class="input-group-line">
          <label for="name">Digite seu Nome</label>
          <input class="input-group-element" type="text" name="name" id="name" placeholder="Ex. João da Silva" required/>
        </div>

        <div class="input-group-line">
          <label for="birthDate">Digite sua Data de Nascimento</label>
          <input class="input-group-element" type="date" name="birthDate" id="birthDate" required/>
        </div>

        <div class="input-group-line">
          <label for="cpf">Digite seu CPF</label>
          <input class="input-group-element" type="text" name="cpf" id="cpf" placeholder="Ex. 123.456.789-00" required/>
        </div>

        <div class="input-group-line">
          <label for="phoneNumber">Digite seu Telefone</label>
          <input class="input-group-element" type="text" name="ddd" placeholder="DDD" id="ddd" required>
          <input class="input-group-element" type="tel" name="phoneNumber" placeholder="ex. 12345-6789" id="phoneNumber" required/>
        </div>

        <div class="input-group-line">
          <label for="phoneType">Selecione o tipo de telefone</label>
          <select class="input-group-element" name="phoneType" id="phoneType">
            <option value="MOBILE">Móvel</option>
            <option value="FIXED">Fixo</option>
          </select>
        </div>

        <div class="input-group-line">
          <label for="email">Digite seu Email</label>
          <input class="input-group-element" type="email" name="email" placeholder="Ex. joao@dasilva.com" id="email" required/>
        </div>

        <div class="input-group-line">
          <label for="passwordFirst">Digite sua Senha</label>
          <input class="input-group-element" type="password" name="passwordFirst" id="passwordFirst" required/>
        </div>

        <div class="input-group-line">
          <label for="passwordSecond">Digite sua Senha Novamente</label>
          <input class="input-group-element" type="password" name="passwordSecond" id="passwordSecond" required/>
        </div>
      </div>

      <div class="data-group">
        <h2 class="title">Dados do Endereço</h2>

        <div class="input-group-line">
          <label for="phrase">Digite uma frase de identificação</label>
          <input class="input-group-element" type="text" name="phrase" id="phrase">
        </div>

        <div class="input-group-line">
          <label for="cep">Digite seu CEP</label>
          <input class="input-group-element" type="text" name="cep" placeholder="Ex. 12345-678" id="cep" required/>
        </div>

        <div class="input-group-line">
          <label for="number">Digite seu Número</label>
          <input class="input-group-element" type="text" name="number" placeholder="Ex. 123A ou 123" id="number" required/>
        </div>

        <div class="input-group-line">
          <label for="complement">Digite seu Complemento</label>
          <input class="input-group-element" type="text" name="complement" placeholder="Ex. Casa, Apartamento, Bloco" id="complement" required/>
        </div>

        <div class="input-group-line">
          <label for="publicPlace">Digite seu Logradouro</label>
          <input class="input-group-element" type="text" name="publicPlace" placeholder="Ex. Rua XXX" id="publicPlace" required/>
        </div>

        <div class="input-group-line">
          <label for="publicPlaceType">Digite o Tipo de Logradouro</label>
          <input class="input-group-element" type="text" name="publicPlaceType" placeholder="Ex. Rua, Avenida, Estrada" id="publicPlaceType" required/>
        </div>

        <div class="input-group-line">
          <label for="neighborhood">Digite seu Bairro</label>
          <input class="input-group-element" type="text" name="neighborhood" placeholder="Ex. Centro, Jardim" id="neighborhood" required/>
        </div>

        <div class="input-group-line">
          <label for="city">Digite sua Cidade</label>
          <input class="input-group-element" type="text" name="city" placeholder="Ex. São Paulo, Rio de Janeiro" id="city" required/>
        </div>

        <div class="input-group-line">
          <label for="state">Digite seu Estado</label>
          <select class="input-group-element" type="text" name="state" placeholder="Ex. SP, RJ" id="state" required>
            <% states.forEach(element => { %>
              <option value="<%= element.abbr %>"><%= element.name %> - <%= element.abbr %></option>
            <% }) %> 
          </select>
        </div>

        <div class="input-group-line">
          <label for="countryName">Digite o Nome do País</label>
          <input class="input-group-element" type="text" name="countryName" placeholder="Ex. Brasil, Argentina" id="countryName" required/>
        </div>

        <div class="input-group-line">
          <label for="countryAbbreviation">Digite a Sigla do País</label>
          <input class="input-group-element" type="text" name="countryAbbreviation" placeholder="Ex. BR, AR" id="countryAbbreviation"/>
        </div>

        <div class="input-group-line">
          <label for="addressType">Selecione o tipo de endereço</label>
          <select class="input-group-element" name="addressType" id="addressType">
            <option value="DELIVERY">Entrega</option>
            <option value="BILLING">Cobrança</option>
            <option value="DELIVERY_AND_BILLING">Entrega e Cobrança</option>
          </select>
        </div>

        <div class="input-group-line">
          <label for="observations">Digite suas Observações</label>
          <input class="input-group-element" type="text" name="observations" id="observations">
        </div>
      </div>

      <div class="data-group">
        <h2 class="title">Dados de Cartão</h2>

        <div class="input-group-line">
          <label for="cardNumber">Digite o Número do Cartão</label>
          <input class="input-group-element" type="text" name="cardNumber" placeholder="Ex. 1234 5678 1234 5678" id="cardNumber" required/>
        </div>

        <div class="input-group-line">
          <label for="printedName">Digite o Nome Impresso no Cartão</label>
          <input class="input-group-element" type="text" name="printedName" placeholder="Ex. JOAO DA SILVA" id="printedName" required/>
        </div>

        <div class="input-group-line">
          <label for="verificationNumber">Digite o Número de Verificação (CVV)</label>
          <input class="input-group-element" type="text" name="verificationNumber" placeholder="Ex. 123" id="verificationNumber" required/>
        </div>

        <div class="input-group-line">
          <label for="isPreferential">Este Cartão é Preferencial?</label>
          <select class="input-group-element" name="isPreferential" id="isPreferential">
            <option value="true">Sim</option>
            <option value="false">Não</option>
          </select> 
        </div>
        
        <div class="input-group-line">
          <label for="banner">Digite a Bandeira do Cartão</label>
          <select class="input-group-element" type="text" name="banner" id="banner" required>
            <% banners.forEach(element => { %>
            <option value="<%= element.code %>"><%= element.name %></option>
            <% }) %> 
          </select>
        </div>
      </div>

      <button class="start-registration-btn" type="submit">Enviar</button>
    </form>
  </body>
</html>