<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../styles/styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>CSR - Cadastrar Cliente</title>
</head>
<body class="flex justify-center bg-dark-default">

<nav class="fixed top-0 left-0 w-full h-16 bg-light-default text-font-default p-5 shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
        <a href="http://localhost:3000/clientes">
            <div class="text-lg font-bold">CSR - Customer Registration</div>
        </a>
        <ul class="flex space-x-4">
            <li>
                <a href="http://localhost:3000/clientes/registrar"
                   class="hover:text-gray-200">Registrar
                    Cliente
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container flex w-2/3 justify-center items-center min-h-screen pt-24">
    <form class="flex flex-col justify-center items-center w-full gap-[30px]" method="post"
          action="/clientes/registrar">
        <div class="flex flex-col p-10 bg-light-default w-10/12 rounded-[10px] shadow-md">
            <h2 class="text-2xl font-bold text-font-default text-left p-2"><i class="fa-solid fa-person mr-5"></i>Dados
                do Cliente</h2>

            <div class="py-3 text-lg text-white font-light">
                <label for="genero">Selecione seu Gênero<i class="text-red-500 px-3">*</i></label>
                <select class="p-2 rounded-2xl w-full mt-2 bg-lighter-default"
                        name="genero"
                        id="genero"
                        required>
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMININO">Feminino</option>
                    <option value="OUTRO">Outro</option>
                </select>
            </div>

            <div class="py-3 text-lg text-white font-light">
                <label for="nome">Digite seu Nome<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text" value="" name="nome" id="nome"
                       placeholder="Ex. João da Silva"
                       required/>
            </div>

            <div class="py-3 text-lg text-white font-light">
                <label for="dataNascimento">Digite sua Data de Nascimento<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="date" name="dataNascimento"
                       id="dataNascimento" required/>
            </div>

            <div class="py-3 text-lg text-white font-light">
                <label for="cpf">Digite seu CPF<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text" name="cpf" id="cpf"
                       placeholder="Ex. 123.456.789-00"
                       required/>
            </div>

            <div class="py-3 text-lg text-white font-light">
                <label for="phoneNumber">Digite seu Telefone<i class="text-red-500 px-3">*</i></label>
                <div class="flex mt-2">
                    <input class="p-2 rounded-2xl bg-lighter-default w-20" type="text" name="ddd" placeholder="DDD"
                           id="ddd" required>
                    <input class="p-2 rounded-2xl bg-lighter-default flex-grow ml-2" type="tel" name="numeroTelefone"
                           placeholder="ex. 12345-6789" id="numeroTelefone" required/>
                </div>
            </div>

            <div class="py-3 text-lg text-white font-light">
                <label for="tipoTelefone">Selecione o tipo de telefone<i class="text-red-500 px-3">*</i></label>
                <select class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" name="tipoTelefone" id="tipoTelefone">
                    <option value="MÓVEL">Móvel</option>
                    <option value="FIXO">Fixo</option>
                </select>
            </div>

            <div class="py-3 text-lg text-white font-light">
                <label for="email">Digite seu Email<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="email" name="email"
                       placeholder="Ex. joao@dasilva.com"
                       id="email"
                       required/>
            </div>

            <div class="py-3 text-lg text-white font-light">
                <label for="primeiraSenha">Digite sua Senha<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="password" name="primeiraSenha"
                       id="primeiraSenha" required/>
            </div>

            <div class="py-3 text-lg text-white font-light">
                <label for="segundaSenha">Digite sua Senha Novamente<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="password" name="segundaSenha"
                       id="segundaSenha" required/>
            </div>
        </div>

        <div class="flex flex-col p-10 bg-light-default w-10/12 rounded-[10px] shadow-md enderecoContainer">
            <h2 class="text-2xl font-bold text-font-default text-left p-2"><i class="fa-solid fa-house mr-5"></i>Dados
                do
                Endereço <span class="indiceEndereco">1</span></h2>
            <div class="py-3 text-lg text-white font-light">
                <label for="fraseCurta">Digite uma frase de identificação para o endereço</label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][fraseCurta]"
                       id="fraseCurta">
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="cep">Digite seu CEP<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][cep]"
                       placeholder="Ex. 12345-678" id="cep"
                       required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="cidade">Digite sua Cidade<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][cidade]"
                       placeholder="Ex. São Paulo, Rio de Janeiro"
                       id="cidade" required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="estado">Selecione seu Estado<i class="text-red-500 px-3">*</i></label>
                <select class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                        name="enderecos[0][estado]"
                        id="estado"
                        required>
                    <% ESTADOS.forEach(element => { %>
                        <option value="<%= element.abbr %>"><%= element.name %> - <%= element.abbr %></option>
                    <% }) %>
                </select>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="nomePais">Digite o Nome do País<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][nomePais]"
                       placeholder="Ex. Brasil, Argentina"
                       id="nomePais" required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="sigla">Digite a Sigla do País</label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][sigla]"
                       placeholder="Ex. BR, AR" id="sigla"/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="numero">Digite seu Número<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][numero]"
                       placeholder="Ex. 1234, 123, 12" id="numero"
                       required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="logradouro">Digite seu Logradouro<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][logradouro]"
                       placeholder="Ex. Rua XXX"
                       id="logradouro"
                       required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="tipoLogradouro">Digite o Tipo de Logradouro<i
                            class="text-red-500 px-3">*</i></label>
                <select class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                        name="enderecos[0][tipoLogradouro]"
                        id="tipoLogradouro" required>
                    <% LOGRADOUROS.forEach(element => { %>
                        <option value="<%= element.value %>"><%= element.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="bairro">Digite seu Bairro<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][bairro]"
                       placeholder="Ex. Centro, Jardim"
                       id="bairro"
                       required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="complemento">Digite seu Complemento<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][complemento]"
                       placeholder="Ex. Casa, Apartamento, Bloco"
                       id="complemento" required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="tipoEndereco">Selecione o tipo de endereço</label>
                <select class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" name="enderecos[0][tipoEndereco]"
                        id="tipoEndereco">
                    <option value="ENTREGA">Entrega</option>
                    <option value="COBRANÇA">Cobrança</option>
                    <option value="ENTREGA_E_COBRANCA">Entrega e Cobrança</option>
                </select>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="observacoes">Digite suas Observações</label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="enderecos[0][observacoes]"
                       id="observacoes">
            </div>
            <div class="flex justify-center items-center">
                <button type="button"
                        class="addEnderecoButton bg-lighter-default text-font-default p-2 rounded-2xl shadow w-32 mt-5">
                    <i class="fa fa-add"></i>
                </button>
            </div>
        </div>

        <div class="flex flex-col p-10 bg-light-default w-10/12 rounded-[10px] shadow-md cartaoContainer">
            <h2 class="text-2xl font-bold text-font-default text-left p-2"><i class="fa-solid fa-id-card mr-5"></i>Dados
                do Cartão <span class="indiceCartao">1</span></h2>
            <div class="py-3 text-lg text-white font-light">
                <label for="numeroCartao">Digite o Número do Cartão<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="cartoes[0][numeroCartao]"
                       placeholder="Ex. 1234 5678 1234 5678"
                       id="numeroCartao" required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="nomeImpresso">Digite o Nome Impresso no Cartão<i
                            class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="cartoes[0][nomeImpresso]"
                       placeholder="Ex. JOAO DA SILVA"
                       id="nomeImpresso" required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="cvv">Digite o Número de Verificação (CVV)<i class="text-red-500 px-3">*</i></label>
                <input class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                       name="cartoes[0][cvv]"
                       placeholder="Ex. 123" id="cvv" required/>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="ePreferencial">Este Cartão é Preferencial?</label>
                <select class="p-2 rounded-2xl w-full mt-2 bg-lighter-default"
                        name="cartoes[0][ePreferencial]" id="ePreferencial">
                    <option value="true">Sim</option>
                    <option value="false">Não</option>
                </select>
            </div>
            <div class="py-3 text-lg text-white font-light">
                <label for="bandeira">Digite a Bandeira do Cartão<i class="text-red-500 px-3">*</i></label>
                <select class="p-2 rounded-2xl w-full mt-2 bg-lighter-default" type="text"
                        name="cartoes[0][bandeira]" id="bandeira"
                        required>
                    <% BANDEIRAS.forEach(element => { %>
                        <option value="<%= element.code %>"><%= element.name %></option>
                    <% }) %>
                </select>
            </div>
            <div class="flex justify-center items-center">
                <button type="button"
                        class="addCartaoButton bg-lighter-default text-font-default p-2 rounded-2xl shadow w-32 mt-5">
                    <i class="fa fa-add"></i>
                </button>
            </div>
        </div>
        
        <div class="flex flex-center p-5">
            <button
                    class="bg-lighter-default
                    text-font-default
                    p-3
                    w-40
                    rounded-2xl
                    shadow-md
                    font-bold
                    text-lg
                    border-2
                    border-transparent
                    transition-colors
                    duration-300
                    hover:bg-font-default
                    hover:text-lighter-default
                    hover:border-font-default"
                    type="submit"
            >Enviar<i class="fa-solid fa-arrow-right ml-3"></i>
            </button>
        </div>
    </form>
</div>
<script src="/js/scripts/preenchimentoViaCep.js" type="module"></script>
<script src="/js/adicionarMultiplosCampos.js" type="module"></script>
</body>
</html>