<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>CSR - Seja bem vindo</title>
</head>
<body class="flex justify-center bg-dark-default">

<nav class="fixed top-0 left-0 w-full h-16 bg-light-default text-font-default p-5 shadow-lg">
    <div class="container mx-auto flex justify-between items-center">
        <a href="http://localhost:3000/">
            <div class="text-lg font-bold">CSR - Customer Registration</div>
        </a>
        <ul class="flex space-x-4">
            <li><a href="http://localhost:3000/clientes" class="hover:text-gray-200">Registrar Cliente</a></li>
        </ul>
    </div>
</nav>

<% const clientesAtivos = clientes.filter(cliente => cliente.estaAtivo) %>

<% if (clientesAtivos.length === 0) { %>
    <div class="container mx-auto flex w-full justify-center items-center h-screen">
        <h1 class="text-3xl text-gray-200">Não há clientes ativos no momento</h1>
    </div>
<% } else { %>
    <div class="mt-36 w-10/12 shadow-lg rounded-md">
        <h2 class="text-2xl text-font-default font-bold">Clientes cadastrados</h2>
        <div class="mt-6">
            <table class="w-full divide-y divide-dark-default">
                <thead class="text-font-default bg-light-default">
                <tr>
                    <th class="py-1 text-lg font-medium">Nome</th>
                    <th class="py-1 text-lg font-medium">CPF</th>
                    <th class="py-1 text-lg font-medium">Telefone</th>
                    <th class="py-1 text-lg font-medium">Data de Nascimento</th>
                    <th class="py-1 text-lg font-medium">Opçoes</th>
                </tr>
                </thead>
                <tbody class="bg-[#3f4b4b]">
                <% clientesAtivos.forEach(cliente => { %>
                    <tr class="border-b-2 border-b-light-default" id="<%= cliente.id %>"
                        data-nome="<%= cliente.usuario.nome %>">
                        <td class="border-x-2 border-x-light-default px-3 py-2 text-center text-white">
                            <%= cliente.usuario.nome %>
                        </td>
                        <td class="border-x-2 border-x-light-default px-3 py-2 text-center text-white">
                            <%= cliente.usuario.cpf %>
                        </td>
                        <td class="border-x-2 border-x-light-default px-3 py-2 text-center text-white">
                            (<%= cliente.telefone.ddd %>)
                            <%= cliente.telefone.numero %>
                        </td>
                        <td class="border-x-2 border-x-light-default px-3 py-2 text-center text-white">
                            <%= cliente.dtNascimento %>
                        </td>
                        <td class="text-center text-white">
                            <button id="editar-cliente">
                                <i class="fa-solid fa-user-pen text-blue-400"></i>
                            </button>
                            <button id="deletar-cliente">
                                <i class="fa-solid fa-x text-red-400 ml-2"
                                   title="Inativar o cliente <%= cliente.usuario.nome %>"></i>
                            </button>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
<% } %>
<script src="/js/inativarCliente.js" type="module"></script>
</body>
</html>
